
<html>
    <head>
        <title> Welcome</title>

        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">

    </head>
    <body>
        <div class="container">
      <div class="card">
        <div class="card__header">
          <img src="https://i.ytimg.com/vi/pTHBZ6AyzOg/maxresdefault.jpg" alt="card__image" class="card__image" width="600">
        </div>
        <div class="card__body">
          <span ></span>
            <h1>Text Summarizer</h1>
              <button><a href="/form/">Go to form</a></button>
              <br><br>
        </div>
        <div class="card__footer">


            </div>
          </div>
        </div>
      </div>
    </div>
    </body>
</html>





